@import '@/assets/common.scss';
body {
    overflow-y: scroll;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    color: rgba(0, 0, 0, .65);

    >.top {
        @include top;
    }

    >.header {
        @include header;
    }

    >.main {
        flex-grow: 1;
        >.main-inner {
            width: 900px;
            margin: 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            >.side-nav {
                width: 100px;
                >h3{
                    cursor: default;
                }
                >a {
                    display: block;
                    font-size: 14px;
                    color: rgba(0, 0, 0, .65);
                    padding: 5px 0;
                    &:hover{
                        color: #f10215;
                    }
                    &.active{
                        color: #f10215;
                    }
                }
            }
        }
    }

    >.footer {
        @include footer;
    }
}

@include transitions;